*::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

.header-about {
    background-image: url(../assets/back-blur.png);
    height: 450px;
    background-position-y: -190px;
}

.header-title {
    font-weight: 800;
    font-size: 60px;
}


/* Jenjang */

.jenjang {
    background-color: #43755A;
    height: 1100px;
}

.jenjang-title {
    font-size: 76px;
    font-weight: 800;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
}

.jenjang-sub {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.jenjang-item {
    width: 400px;
    background-color: white;
    height: 720px;
    border-radius: 34px;
    box-shadow: 0px 14px 28px 0px #00000066;
}

.img-tk img {
    border-top-right-radius: 34px;
    border-top-left-radius: 34px;
}

.tk-title {
    color: #5284CE;
    font-size: 54px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
}

.tk-sub {
    color: #5284CE;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.sd-title {
    color: #FDC517;
    font-size: 54px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
}

.sd-sub {
    color: #FDC517;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.btn-more {
    margin-right: 20px;
    height: 80px;
    width: 80px;
    background: linear-gradient(143.06deg, #FFA234 0%, #FFC644 118.83%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}


/* Footer */

.footer-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #47785D;
}

.copyright {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #47785D;
}

.contact-title {
    color: #47785D;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.contact i {
    color: #47785D;
    font-size: 20px;
    margin-bottom: 15px;
}

.social {
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #47785D;
}