    *::-webkit-scrollbar {
        display: none;
    }
    
    body {
        overflow-x: hidden;
    }
    
    .header-about {
        background-image: url(../assets/back-about.png);
        height: 450px;
        background-position-y: -140px;
    }
    
    .about-tk {
        padding-top: 163px;
        margin-top: -300px;
        height: 506px;
        background: #5284CE !important;
        box-shadow: 0px 28px 35px -10px #0000007D !important;
    }
    
    .tk-title {
        position: relative;
        bottom: 30px;
        font-size: 70px;
        font-weight: 800;
        line-height: 67px;
        letter-spacing: 0em;
        text-align: left;
    }
    /* .adfaa {
        padding-right: 80px;
    } */
    
    .about-yayasan img {
        position: relative;
        bottom: 30px;
    }
    
    .kebijakan {
        height: 1400px;
    }
    
    .kebijakan-title {
        font-size: 76px;
        font-weight: 800;
        line-height: 92px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }
    
    .kebijakan-text {
        color: white;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .alur-title {
        color: white;
        font-size: 76px;
        font-weight: 800;
        line-height: 92px;
        letter-spacing: 0em;
        text-align: center;
    }
    
    .alur-item {
        height: 400px;
        width: 500px;
        color: white;
        border-radius: 20px;
    }
    /* Footer */
    
    .footer-text {
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #47785D;
    }
    
    .copyright {
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #47785D;
    }
    
    .contact-title {
        color: #47785D;
        font-size: 20px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .contact i {
        color: #47785D;
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .social {
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #47785D;
    }
    
    @media (min-width: 992px) {
        .header-about {
            background-image: url(../assets/back-about.png);
            height: 450px;
            background-position-y: -140px;
        }
        .about-yayasan {
            padding-top: 163px;
            margin-top: -300px;
            height: 506px;
            background: #39674EED;
            box-shadow: 0px 28px 35px -10px #0000007D;
        }
        .yayasan-text {
            position: relative;
            bottom: 80px;
            font-size: 20px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
        }
        .adfaa {
            padding-right: 80px;
        }
        /* Footer */
        .footer-text {
            font-size: 20px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #47785D;
        }
        .copyright {
            font-size: 12px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #47785D;
        }
        .contact-title {
            color: #47785D;
            font-size: 20px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
        }
        .contact i {
            color: #47785D;
            font-size: 20px;
            margin-bottom: 15px;
        }
        .social {
            font-size: 20px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #47785D;
        }
    }